.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 2rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Glassmorphism Style */
    background: rgba(200, 220, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-bar,
.drop-down-nav {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    display: flex;
}

.nav-bar {
  justify-content: space-between;
}

.drop-down-menu {
  padding: 0 2rem;
}

.drop-down-nav {
  padding: 1rem 0;
  flex-direction: column;
  gap: 1rem;
}

.header-links,
.drop-down-menu-links {
  list-style: none;
  display: flex;
}

.header-links {
  align-items: center;
  color: rgb(156 163 175);
  gap: 2rem;
}

.drop-down-menu-links {
  flex-direction: column;
  gap: 1rem;
}

.header-links li:hover,
.drop-down-menu-links li:hover {
    color: #E5E7EB;
}

.contact-btn {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    stroke: white;
    stroke-width: 2;
    fill: none;
    background: linear-gradient(
      to right,
      #3b82f6 0%,  
      #a855f7 100%
    );
    border-radius: 0.375rem;
}

.contact-btn:hover {
  filter: brightness(0.85);
}

.contact-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.hamburger-btn {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: transparent;
}

.hamburger-btn:hover {
  background-color: rgb(156, 163, 175, 0.2);
}

.hamburger {
  fill: none;
  stroke: rgb(156 163 175);
  stroke-width: 1.5;
  width: 1.75rem;
  height: 1.75rem;
}

.drop-down-menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(200, 220, 255, 0.15);
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: var(--container-radius);
  border-bottom-right-radius: var(--container-radius);
}

.drop-down-menu-links {
  color: rgb(156 163 175);
}

@media (max-width: 1280px) {
  .nav-bar {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .header,
  .drop-down-menu {
    padding: 0 1rem;
  }

  .nav-bar,
  .drop-down-nav {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .nav-bar,
  .drop-down-nav {
    max-width: 640px;
  }

  .header-links {
    display: none;
  }

  .contact-btn.header-btn {
    display: none;
  }

  .hamburger-btn {
    display: flex;
  }
}