.nav-bar {
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    background-color: #002A32;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.nav-bar a{
    color: #fff;
    text-decoration: none;
}