.nav-bar {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    /* Glassmorphism Style */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    z-index: 100;
}

.nav-bar a{
    color: #fff;
}