<header class="header">
    <nav class="nav-bar">
        <ul class="header-links">
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="projects">Projects</a>
            </li>
        </ul>
        <button class="hamburger-btn" (click)="toggleFullMenu()">
            <svg *ngIf="!showFullMenu" viewBox="0 0 24 24" class="hamburger">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg *ngIf="showFullMenu" viewBox="0 0 24 24" class="hamburger">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </button>
        <button class="contact-btn header-btn" routerLink="contact">
            Contact
            <svg viewBox="0 0 24 24" class="contact-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
            </svg>
        </button>
    </nav>
    <div *ngIf="showFullMenu" class="drop-down-menu">
        <nav class="drop-down-nav">
            <ul class="drop-down-menu-links">
                <li>
                    <a routerLink="">Home</a>
                </li>
                <li>
                    <a routerLink="projects">Projects</a>
                </li>
            </ul>
            <button class="contact-btn" routerLink="contact">
                Contact
                <svg viewBox="0 0 24 24" class="contact-icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
            </button>
        </nav>
    </div>
</header>
