<div class="page-wrapper">
    <section class="contact-form-section">
        <h1 class="contact-form-title">Let's Build Something Great Together!</h1>
        <form class="contact-form" (ngSubmit)="submit(contactForm)" #contactForm="ngForm" action="?" method="POST">
            <div class="contact-form-info-container">
                <label for="name">
                    <p>Name:</p>
                    <input class="contact-form-input-field"
                        type="text" 
                        name="name" 
                        ngModel
                        [(ngModel)]="name"/>
                </label>
                <label for="email">
                    <p>Email:</p>
                    <input class="contact-form-input-field" 
                        type="text" 
                        name="email" 
                        ngModel
                        [(ngModel)]="email"/>
                </label>
            </div>
            <div class="message-wrapper">
                <label for="message">
                    <p>Message:</p>
                    <textarea class="contact-form-message" 
                        name="message" 
                        ngModel
                        [(ngModel)]="message">
                    </textarea>
                </label>
            </div>
            <div class="recaptcha-wrapper">
                <div id="g-recaptcha" data-sitekey="6LcI0eoqAAAAANlML_wvkSM84Z7NcCBlFC2zdfgi"></div>
            </div>
            <div>
                <button class="contact-form-button" type="submit" >Send Email</button>
            </div>
            <div *ngIf="isLoading" class="loading-spinner-container">
                <app-spinner></app-spinner>
            </div>   
        </form>
    </section>
</div>
