<div class="page-wrapper">
    <section class="hero-section">   
        <h1 class="hero-name">Mike LoPresti</h1>
        <div class="hero-img-wrapper">
            <div class="hero-image"></div>
        </div>
        <h2 class="hero-title">Full Stack Developer</h2>
        <p class="hero-description-2">Entrepreneur turned engineer: 7 years scaling businesses, now building web and game experiences.</p>
    </section>
    <section class="core-tech-section">
        <h3 class="core-tech-title">Core Tech Stack</h3>
        <div class="core-tech-container">
            <p class="core-tech blue">Angular</p>
            <p class="core-tech purple">Typescript</p>
            <p class="core-tech teal">C#</p>
            <p class="core-tech blue">.NET</p>
            <p class="core-tech purple">Azure</p>
            <p class="core-tech teal">SQL Server</p>
        </div>
    </section>
</div>

