.hero-section {
  margin-top: 4rem;
}

.hero-name {
  text-align: center;
  font-weight: 700;
  font-size: 4.5rem;
  margin-bottom: 1rem;

  /* Gradient text */
  background: linear-gradient(
    to right,
    #14b8a6 0%,    /* teal */
    #3b82f6 35%,   /* blue */
    #a855f7 50%,   /* purple */
    #3b82f6 65%,   /* blue */
    #14b8a6 100%   /* teal */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;    /* fallback */
}

.hero-img-wrapper {
  width: 150px;
  height: 150px;
  margin-inline: auto;
  margin-bottom: 0.5rem;

  border-radius: 50%;
  padding: 5px; /* thickness of gradient border */

  /* Gradient border */
  background: linear-gradient(
    to right,
    var(--teal) 0%,
    var(--blue) 5%,
    var(--purp) 50%,
    var(--blue) 95%,
    var(--teal) 100%
  );

  /* Floating animation */
  animation: float 1s ease 0s infinite alternate none;
  margin-bottom: 1rem;
}

.hero-image {
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)),
    url("../../../assets/headshot.jpg");

  background-size: contain;
  border-radius: 50%;
  display: block;
}

.hero-title {
  color: white;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-description {
  max-width: 60ch;
  margin-inline: auto;
  text-align: center;
  text-wrap: wrap;
  font-size: 1.25rem;
  color: rgb(156 163 175);
}

.core-tech-section {
  padding: 3rem 0;
  margin: 1rem 0;
}

.core-tech-title {
  text-align: center;
  color: rgb(156 163 175);
  margin-bottom: 0.5rem;
}

.core-tech-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.core-tech {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}

.core-tech.blue {
    color: var(--blue);
    background-color: var(--blue-bg);
}

.core-tech.purple {
    color: var(--purp);
    background-color: var(--purp-bg);
}

.core-tech.teal {
    color: var(--teal);
    background-color: var(--teal-bg);
}

@media (max-width: 768px) {
  .hero-name {
    font-size: 3.5rem;
  }
}

@media (max-width: 425px) {
  .hero-name {
    font-size: 2.75rem;
  }

  .hero-title {
    font-size: 1.75rem;
  }
}

