.contact-form-section {
    margin: 2rem 0;
}

.contact-form {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    line-height: 0;
    background-color: #002A32;
    border-radius: 10px;
    padding: 1rem;
}

.contact-form-title {
    margin: 1rem 0;
    color: white;
    font-size: 1.2rem;
}

.contact-form-info-container {
    display: flex;
    gap: 1rem;
}

.contact-form-message {
    height: 100px;
}

.contact-form-button {
    background-color: white;
    color: #002A32;
    border-radius: 100px;
    border-style: none;
    padding: 0.5rem;
}

.contact-form-button:hover {
    cursor: pointer;
}