.featured-projects-section {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    padding: 2rem 0;
}

.featured-projects-title {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.featured-projects-wrapper {
    position: relative;
    padding: 2rem;
    margin-inline: auto;
    border-radius: var(--container-radius);
    border: 1px solid rgb(31 41 55);
    background-color: rgba(17, 24, 39, .5);
}

.featured-projects-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.project-container {
    flex: 1;
    padding: 2rem;
    color: rgb(156 163 175);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: rgba(31, 41, 55, .5);
}

.project-container.blue:hover {
    border: 1px solid var(--blue);
    background-color: var(--blue-bg);
}

.project-container.purple:hover {
    border: 1px solid var(--purp);
    background-color: var(--purp-bg);
}

.project-container.teal:hover {
    border: 1px solid var(--teal);
    background-color: var(--teal-bg);
}

.project-title {
    font-size: 1.2rem;
    padding: 0.2rem;
    margin-bottom: 1rem;
}

.project-description {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.project-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.all-projects {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-inline: auto;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: rgb(156 163 175);
    text-decoration: underline;
}

.star-icon {
    height: 1.75rem;
    width: 1.75rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.all-projects-icon {
    fill: rgb(156 163 175);
    height: 1.5rem;
    width: 1.5rem;
}

.spinner-wrapper {
    color: rgb(156 163 175);
    margin: 2rem 0;
    padding: 2rem;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
    border-radius: var(--container-radius);
    border: 1px solid rgb(31 41 55);
    background-color: rgba(31, 41, 55, .5);
}

@media (max-width: 1280px) {
  .featured-projects-section {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
    .featured-projects-section {
        max-width: 768px;
    }

    .featured-projects-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
  .featured-projects-section {
    max-width: 640px;
  }
}

@media (max-width: 425px) {
    .featured-projects-wrapper,
    .project-container {
        padding: 1rem;
    }
}
