<div class="page-wrapper">
    <section class="all-projects-section">
        <h1 class="all-projects-title">All Projects</h1>
        <div *ngIf="isLoading" class="spinner-wrapper">
            <p>Loading Projects...</p>
            <app-spinner></app-spinner>
        </div>
        <div class="all-projects-container">
            <div *ngFor="let project of projects; let i = index" 
                class="project-container"
                [ngClass]="['blue', 'purple', 'teal'][i % 3]">
                <ng-container *ngIf="project.internal === true; else externalLink">
                    <a [routerLink]="'/' + project.route">
                        <div>
                            <p class="project-title">{{project.title}}</p>
                            <div class="project-image" [style.backgroundImage]="project.image ? 'url(' + project.image + ')' : 'none'"></div>
                            <p class="project-description">{{project.description}}</p>
                        </div>
                    </a>
                </ng-container>

                <ng-template #externalLink>
                    <a [href]="project.route" target="_blank">
                        <div>
                            <p class="project-title">{{project.title}}</p>
                            <div class="project-image" [style.backgroundImage]="project.image ? 'url(' + project.image + ')' : 'none'"></div>
                            <p class="project-description">{{project.description}}</p>
                        </div>
                    </a>
                </ng-template>
            </div>
        </div>
    </section>
</div>
