<section class="education-section">
    <p class="education-section-title">Education</p>
    <div class="education-container">
        <div class="school-container" *ngFor="let school of schools">
            <div class="school-container-header">
                <div class="school-image" [style.backgroundImage]="'url(' + school.image + ')'"></div>
                <p class="school-title">{{school.title}}</p>
            </div>
            <p class="school-description">{{school.description}}</p>
            <p class="school-gpa">GPA: {{school.gpa}}</p>
        </div>
    </div>
</section>