.education-section {
    background-color: #002A32;
    color: #fff;
    padding: 1rem 0;
}

.school-image {
    width: 100px;
    height: 100px;
    background-size: contain;
}

.education-section-title {
    text-align: center;
    font-size: 2rem;
}

.education-container {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.school-container {
    background-color: #fff;
    color: #002A32;
    border-radius: 10px;
    padding: 1rem;
}

.school-container-header {
    display: flex;
    gap: 1rem;
}

.school-title {
    align-self: center;
    font-size: 2rem;
}

.school-description {
    width: 35ch;
    margin: 1rem 0;
}

.school-gpa {
    font-weight: 600;
}

@media (max-width: 375px) {

    .school-image {
        width: 75px;
        height: 75px;
    }

    .school-description {
        width: 30ch;
    }
}