.skills-section {
    padding: 2rem 0;
}

.skills-section-title {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.skills-container {
    margin-inline: auto;
    padding: 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: var(--container-radius);
    border: 1px solid rgb(31 41 55);
    background-color: rgba(17, 24, 39, .5);
}

.skill {
    padding: 2rem;
    color: rgb(156 163 175);
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    background-color: rgba(31, 41, 55, .5);
}

.skill.blue .skill-title {
  color: var(--blue);
}

.skill.purple .skill-title {
  color: var(--purp);
}

.skill.teal .skill-title {
  color: var(--teal);
}


.skill li {
  color: rgb(156 163 175);
  position: relative;
  padding-left: 1.25rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

.skill.blue li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: rgba(96, 165, 250);
  font-weight: bold;
}

.skill.purple li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: rgb(192, 132, 252);
  font-weight: bold;
}

.skill.teal li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: rgb(45, 212, 191);
  font-weight: bold;
}

.skill-images-container {
    display: flex;
    justify-content: center;
}

.skill-image {
    width: 50px;
    height: 50px;
    background-size: contain;
}

.skill-title {
    text-align: center;
    margin: 1rem 0;
}

.skill-description {
    width: 22ch;
}